@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Raleway:wght@700&family=ZCOOL+XiaoWei&display=swap');

*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body{
    background-color: #050A30;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}

li, a{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:#7EC8E3;
    text-decoration: none;
}

.logo{
    color:#7EC8E3;
    font-size: large;
    cursor: pointer;
}

header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

header p, header nav{
    padding: 0px 10%;
    padding-top: 3vh;
}

.navLinks{
    list-style: none;
}

.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a::after{
    content: "";
    background-color: #E9F8F9;
    height: 3px;
    width: 0;
    margin: auto;
    left: 0;
    display: block;
    
}

.navLinks li a:hover:after{
    width: 100%;
    transition: all 0.3s ease 0s;
}

.navLinks li a{
    transition: all 0.3s ease 0s;
}

.navLinks li a:hover{
    color: #E9F8F9;
}

.content1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-top: 10vh;
}

.content1ContainerSize{
    width: 50%;
    height: 70vh;
    margin: 50px 10vw;
}

.aboutMe{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;

}

.aboutMe h1, .aboutMe h2{
    margin: 0px 30px;
}

.aboutMe h1{
    font-size: 5em;
    font-family: 'Raleway', sans-serif;
    color: #7EC8E3;
}

.aboutMe h2{
    font-size: 2em;
    font-family: 'Barlow Condensed', sans-serif;
    color:aliceblue;
}

.profilePic{
    -webkit-mask-image: url(blob.svg);
    mask-image: url(blob.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: 120%;
    -webkit-mask-size: 120%;
}

.profilePic img{
    width: 100%;
    height: 100%;    
}

.content2{
    background-color: rgb(4, 0, 36);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.content2 p{
    color: #7EC8E3;
    font-size: 3em;
    font-family: 'ZCOOL XiaoWei', sans-serif;
}

.content2 .Views{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.content2 .Views div{
    height: 65vh;
    width: 23vw;
    
    cursor: pointer;
    
    text-decoration: none;
    
    border: #7EC8E3 0.25em solid;
    border-radius: 1.0em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.2), 0 0 0.75em #7EC8E3;
    box-shadow: inset 0 0 1.5em 0 #7EC8E3, 0 0 1.5em 0 #7EC8E3;
    transition: all 0.3s ease 0s;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.content2 .Views div:hover{
    height: 68vh;
    width: 24vw;
}
.content2 .Views div p{
    font-family: 'ZCOOL XiaoWei', sans-serif;
    color:rgb(255, 255, 255);
    font-size: 3em;
}

.content2 .Views div span{
    color: #7EC8E3;
    font-size: 10rem;
}

.content3{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10vh;
}

footer{
    position: absolute;
    bottom: 0;
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: rgba(255,255,255,0.08);
    box-shadow: 0px -10px 10px rgba(255,255,255,0.08);
}